#!groovy

import jenkins.model.*
import hudson.model.*
import hudson.slaves.*
import hudson.plugins.sshslaves.*
import java.util.ArrayList;
import hudson.slaves.EnvironmentVariablesNodeProperty.Entry;

  List<Entry> env = new ArrayList<Entry>();
  env.add(new Entry("NEXUS_BASE_REPO_URL",System.getenv("NEXUS_BASE_REPO_URL")))
  env.add(new Entry("NEXUS_SNAPSHOT_REPO_URL",System.getenv("NEXUS_SNAPSHOT_REPO_URL")))
  env.add(new Entry("NEXUS_RELEASE_REPO_URL",System.getenv("NEXUS_RELEASE_REPO_URL")))
  env.add(new Entry("NEXUS_STAGING_DOCKER_REPO_URL",System.getenv("NEXUS_STAGING_DOCKER_REPO_URL")))
  env.add(new Entry("NEXUS_PRODUCTION_DOCKER_REPO_URL",System.getenv("NEXUS_PRODUCTION_DOCKER_REPO_URL")))
  env.add(new Entry("NEXUS_USER",System.getenv("NEXUS_USER")))
  env.add(new Entry("NEXUS_PASSWORD",System.getenv("NEXUS_PASSWORD")))
  env.add(new Entry("GIT_USER_NAME",System.getenv("GIT_USER_NAME")))
  env.add(new Entry("GIT_USER_EMAIL",System.getenv("GIT_USER_EMAIL")))
  env.add(new Entry("SONARQUBE_URL",System.getenv("SONARQUBE_URL")))
  env.add(new Entry("SONARQUBE_APIKEY",System.getenv("SONARQUBE_APIKEY")))
  env.add(new Entry("SONARQUBE_USER",System.getenv("SONARQUBE_USER")))
  env.add(new Entry("SONARQUBE_PASSWORD",System.getenv("SONARQUBE_PASSWORD")))
  EnvironmentVariablesNodeProperty envPro = new EnvironmentVariablesNodeProperty(env);
  Slave slave = new DumbSlave(
                    "agent-node-agent_node_label",
                    "Lunix Jenkins Agent Node agent_node_label",
                    "/home/jenkins/jobs",
                    "num_executors",
                    Node.Mode.NORMAL,
                    "agent_node_label",
                    new SSHLauncher("agent_host",agent_port,"agent_user","","","",""),
                    new RetentionStrategy.Always(),
                    new LinkedList())
  slave.getNodeProperties().add(envPro)
  Jenkins.instance.addNode(slave)
