#!groovy

import jenkins.model.*
import hudson.model.*
import hudson.slaves.*
import hudson.plugins.sshslaves.*
import java.util.ArrayList;
import hudson.slaves.EnvironmentVariablesNodeProperty.Entry;

  List<Entry> env = new ArrayList<Entry>();
  env.add(new Entry("nexus","nexus_host"))
  env.add(new Entry("registry","registry_host"))
  env.add(new Entry("staging_proxy_service_gateway","st_service_gateway_host"))
  env.add(new Entry("staging_proxy_front_gateway","st_front_gateway_host"))
  env.add(new Entry("prod_proxy_service_gateway","prod_service_gateway_host"))
  env.add(new Entry("prod_proxy_front_gateway","prod_front_gateway_host"))
  env.add(new Entry("staging_service_node_prefix","staging_service_node_prefix"))
  env.add(new Entry("prod_service_node_prefix","prod_service_node_prefix"))
  env.add(new Entry("staging_service_node_interval","staging_service_node_interval"))
  env.add(new Entry("prod_service_node_interval","prod_service_node_interval"))
  env.add(new Entry("staging_front_node_prefix","staging_front_node_prefix"))
  env.add(new Entry("prod_front_node_prefix","prod_front_node_prefix"))
  env.add(new Entry("staging_front_node_interval","staging_front_node_interval"))
  env.add(new Entry("prod_front_node_interval","prod_front_node_interval"))
  EnvironmentVariablesNodeProperty envPro = new EnvironmentVariablesNodeProperty(env);
  Slave slave = new DumbSlave(
                    "agent-node","Vanilla Agent Node agent_node_label",
                    "/home/jenkins/jobs",
                    "1",
                    Node.Mode.NORMAL,
                    "agent_node_label",
                    new SSHLauncher("agent_host",22,"agent_user","agent_password","","","","",""),
                    new RetentionStrategy.Always(),
                    new LinkedList())
  slave.getNodeProperties().add(envPro)
  Jenkins.instance.addNode(slave)
